* {
  margin: 0;
  padding: 0;
}
body {
  padding-top:5%;
  background: #fdf5df;
  color: rgb(61, 63, 38);
  font-family: system-ui;
  
}

header {
  
  position: fixed;
  top: 0;
  width: 100%;
}
nav ul {
  padding: 0px;
  margin: 0px;
  background: #86a124;
  list-style: none;
  text-align: right;
  max-width: 100%;
  min-width: 400px;
}
.navbar li {
  display: inline-block;
}

.navbar ul li a {
  text-transform: uppercase;
  padding: 20px 20px;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  display: block;
  width: auto;
  font-weight: bold;
  color: #cfe473;
  text-align: center;
}
@media only screen and (max-width: 450px) {
  body {
    padding-top:13%;
    background: #fdf5df;
    color: rgb(61, 63, 38);
    font-family: system-ui;
  }
  .footer a,p {
  font-size: 15px;
  
  }
  
}

.navbar a:hover {
  background-color: #fdf5df;
}

.crud {
  width: 80%;
  margin: auto;
  padding: auto;
}
.head {
  text-align: center;
  text-transform: uppercase;
  margin: 10px;
}

input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background: #aabb6f;
  margin: 4px 0;
  color: rgb(243, 243, 243);
  border-radius: 7px;
  padding: 4px;
  text-align: right;
  max-width: 100%;
  min-width: 300px;
}
input:focus {
  background: rgb(69, 85, 12);
  transform: scale(1.02);
  color: #fdf5df;
}
input:focus::placeholder {
  color: #aabb6f;
}
footer{
  background-color: #86a124;
  padding: 0;
  margin: 0;
  

 

}

 .footer div {
 text-align: center;
  max-width: 100%;
  min-width: 400px;
}

.footer a,p {
  text-decoration: none;
  padding: 20px 20px;
  text-transform: uppercase;
  color: #cfe473;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}/*
.footer p {
  text-decoration: none;
  padding: 20px 20px;
  text-transform: uppercase;
  color: #cfe473;
  font-weight: bold;
  text-align: center;
  display: inline; 
}*/
button {
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  background: #86a124;
  color: #fff;
  border-radius: 20px;
  transition: 0.5s;
  margin: 2px;
}
button:hover {
  background: rgb(69, 85, 12);
  letter-spacing: 1px;
}

.btnSearch {
  display: flex;
  justify-content: space-between;
}
.btnSearch button {
  width: 45%;
}
table {
  width: 50%;
  overflow-x: auto;
  text-align: center;
  margin: 10px 0;
  border-spacing: 1rem;
}
table th {
  text-transform: uppercase;
}
th,
td {
  padding: 5px;
}
table button {
  background: #86a124;
}
::placeholder {
  color: rgb(66, 80, 18);
  font-size: 18px;
}
.table-section {
  overflow-x: auto;
}
